@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --color-primary: #4B00BE;
    --color-secondary: #D7BCFF;
    --color-background: #E8D9FF;
    --color-text: #1f2937;
    --color-bg-white: #FFFF;
    --color-dark-background: #dfe0e0;
    --color-error: #FF0000;
    --color-button-bg: #7A23FF;
    --color-button-text: #ffff;
    --color-link-active: #0042EA;
}

.dark {
    --color-primary: #4B00BE;
    --color-secondary: #fffa;
    --color-background: #E8D9FF;
    --color-bg-white: #1f2937;
    --color-text: #f3f4f6;
    --color-dark-background: #101720;
    --color-error: #FF0000;
    --color-button-bg: #ffff;
    --color-button-text: #7A23FF;
    --color-link-active: #0042EA;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    /* background-color: var(--color-background); */
}

.title-font {
    font-family: "Niconne", cursive;
}

/* inputs */
input,
textarea {
    transition: border-color 0.3s ease;
    border: 2px solid #ddd;
    /* Light gray border */
    padding: 0.75rem;
    border-radius: 0.5rem;
}

input:focus,
textarea:focus {
    outline: none;
    border-color: var(--primary-color);
    /* Highlight color on focus */
}

button:hover {
    transform: translateY(-2px);
    /* Slight lift effect on hover */
}



